---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us">
    <div class="cards-container">
        <div class="card">
            <div class="card-content">
                <img src="/Pallavi.jpeg" alt="Pallavi Thakur" />
            </div>
            <div class="card-text-left">
                <h2>Pallavi Thakur</h2>
                <h3>Frontend Developer</h3>
                <p>Whenever any problem arises, I become curious to know about
                    it. I also like meeting new people and making new friends.</p>
                <a href="https://www.linkedin.com/in/pallavi-thakur-7857a6288/"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>

        <div class="card">
            <div class="card-text-right">
                <h2>Neha</h2>
                <h3>Frontend Developer & Project Manager</h3>
                <p>Solving problems brings me happiness. I also like to make
                    other people laugh. Work is always my first priority.</p>
                <a href="http://tinyurl.com/4nnb382j"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <div class="card-content">
                <img src="/Neha.jpg" alt="Neha" />
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <img src="/Meenu2.jpg" alt="Meenu" />
            </div>
            <div class="card-text-left">
                <h2>Meenu Yadav</h2>
                <h3>Full Stack Developer</h3>
                <p>I approach problems with a smile. I like to think calmly
                    about the problem and find a solution. I love to laugh and
                    make everyone laugh.</p>
                <a href="http://tinyurl.com/5b7ztf83"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="card">
            <div class="card-text-right">
                <h2>Simran</h2>
                <h3>Full Stack Developer & Social Media</h3>
                <p>I love the freedom the birds have. I want to keep flying and
                    moving forward just like the birds.</p>
                <a href="http://tinyurl.com/5n7bt52r"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <div class="card-content">
                <img src="Simran.jpg" alt="Simran" />
            </div>
        </div>
    </div>
</Layout>
