---
import Layout from "../layouts/Layout.astro";
---

<Layout title=" Our Services">
    <div class="services-container">
        
        
           
                <h1>Website Creation</h1>
                <h1>App Creation</h1>
                <h1>Website Modification</h1>
            </ul>
        </div>
    </div>
</Layout>
