---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our Supporters">
    <div class="support-container">
        <div class="support-card">
            <div class="support-content">
                <img src="/surabhi.jpg" alt="Surabhi Yadav" />
                <h2>Surabhi Yadav</h2>
                <h3>
                    Founder of -<a
                        href="https://sajhesapne.org/"
                        target="_blank"
                    >
                        Sajhe Sapne</a
                    >
                </h3>
                <p>
                    Sajhe Sapne, plays a very important key role in supporting
                    Udyami Tech through incubation. Additionally, Surabhi Yadav
                    serves as an advisor to Udyami Tech, guiding us with her
                    valuable insights and expertise.
                </p>
                <div class="support-content-link">
                    <a
                        href="https://www.facebook.com/hashtag/sajhesapne/"
                        target="_blank"
                        ><i class="fa-brands fa-facebook-f"></i></a
                    >
                    <a
                        href="https://in.linkedin.com/company/sajhe-sapne"
                        target="_blank"
                        ><i class="fa-brands fa-linkedin-in"></i></a
                    >
                    <a
                        href="https://www.instagram.com/sapnewaali/"
                        target="_blank"
                        ><i class="fa-brands fa-instagram"></i></a
                    >
                </div>
            </div>
        </div>
    </div>

    <div class="support-card">
        <div class="support-content">
            <img src="/akshay.jpg" alt="Akshay" />
            <h2>Akshay Madan</h2>
            <h3>
                Founder of - <a href="https://wildfiretech.co/" target="_blank">
                    Wildfire</a
                >
            </h3>
            <p>
                Serves as the Tech Mentor at Udyami Tech, guiding us in
                mastering Ember.js and Junction (Back-End). He not only mentors
                us but also connects us with projects that help expand our
                network and solidify our technical skills.
            </p>
            <div>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a
                    href="https://www.linkedin.com/in/akshaywildfire/"
                    target="_blank"><i class="fa-brands fa-linkedin-in"></i></a
                >
                <a
                    href="https://www.instagram.com/wildfiretech.co/"
                    target="_blank"><i class="fa-brands fa-instagram"></i></a
                >
            </div>
        </div>
    </div>

    <div class="support-card">
        <div class="support-content">
            <img src="/Ayush.jpg" class="imag" alt="Ayush Ghai" />
            <h2>Ayush Ghai</h2>
            <h3>Founder of -<a href=""> Lifemaker</a></h3>
            <p>
                Ayush Ghai provided us with a professional office environment
                and also supported us as a Tech Mentor. He guided us in learning
                Good Speed (Back-End), helping us improve our technical
                capabilities.
            </p>
            <div>
                <a href="https://www.facebook.com/LifeMakerApp/" target="_blank"
                    ><i class="fa-brands fa-facebook-f"></i></a
                >
                <a href="https://www.linkedin.com/in/ayushghai/" target="_blank"
                    ><i class="fa-brands fa-linkedin-in"></i></a
                >
            </div>
        </div>
    </div>
</Layout>
