---
import '../styles/global.css'
---
<div class="main-container">
  <div class="container1">
    <div class="box">
      <h2>We want to <span>encourage Rural women</span> to pursue the field of <span>technology</span></h2>
    </div>
    <div class="box1">
      <img src="/Founders.jpg" alt="Encouraging Village Girls">
    </div>
  </div>
  <div class="container2">
    <h1>Our <span>Mission</span></h1>
    <p>
      Rural women have almost no presence in the tech industry, and we’re here to change that. We want 2 out of every 5 software developers to be rural women within the next 5 years. We entered the world of technology to inspire these women, so they can see what’s possible and be motivated to join us. 
</p>
  </div>
</div>
