---

---

<hr />

<!-- <div class="footer-box2">
    <div>
      <h1><span>Our</span> Services</h1>
    </div>
    <div class="footer-item">
      <ul>
        <li>Web development</li>
        <li>Website design</li>
        <li>Website upgrades</li>
      </ul>
      <ul>
        <li>App design</li>
        <li>App Development</li>
        <li>Other services coming soon..</li>
      </ul> 
    </div>
  </div>-->

  <footer>
    <div class="container">

      <div class="social-icons">
        <i class="fa fa-phone"></i>
        <span class="footer-contact-text">+91-8795988677</span>
      </div>

      <div class="social-icons">
        <i class="fa fa-envelope"></i>
        <span class="footer-contact-text">udyamitech@gmail.com</span>
      </div>

      <div class="social-icons">
        <a href="https://www.instagram.com/udyami_technologies/?igsh=MWQ3d3pqYTVsc2ZkMw%3D%3D" target="_blank"><i class="fa-brands fa-instagram"></i> </a>
        <a href="https://www.linkedin.com/in/udyami-tech-a1281b323/" target="_blank"><i class="fa-brands fa-linkedin-in"></i> </a>
        </div>

        <!-- <div class="social-icons">
      </div> -->

    </div>
  </footer>
